nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #666;
  text-align: center;
  overflow: hidden;
}

nav ul li {
display: inline;
border-right: 1px solid white;
border-left: 1px solid white;
overflow: hidden;
position: static;
}

 nav li a {
   display:  inline-block;
   color: white;
   text-decoration: none;
   text-align: center;
   padding: 14px 16px;
 }
.first {
  transform: rotate(90deg);
  height: 350px;
  width: 400px;
  z-index: -1;
  position: relative;
  border: 2px solid gray;

}

a:hover{
  background-color: gray;
}

.intro {
  text-align: center;
  font-size: 30px;
}
.n{
  position: static;
  z-index: 10;
}
body{
  background-color: snow;
}
.home{
  text-align: center;
  font-size: 23px;
}

.town{
  text-align: center;
  font-size: 17px;
}

li{
  text-align: center;
}
ol{
  text-align: center;
  list-style: none;
}
body {
  font-family: Sans-Serif;
}
.second {
  display: inline;
  height: 350px;
  width: 400px;
  z-index: -1;
  position: relative;
  border: 2px solid gray;
}
  ul {
    list-style-type:none;
  }

  .bodyy{
    background-color: black;
  }



  .form {
    max-width: 700px;
    margin: auto;
    border: 1px solid black;
border-radius: 5px;
text-align: center;
  background-image:
    linear-gradient(
      to right,
      red,
      #f06d06,
      rgb(255, 255, 0),
      green
    );
  }
  form {
    width: 50%;
    margin: auto;
    padding: 10px 0;

  }
  label{
    display: inline-block;
    font-size: 18px;
    color: black;
    margin-bottom: 3px;
    border-radius: 3px;
  }
  input[type="text"]{
    width: 250px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 5px;
  }
  select{
    width: 150px;
    background-image: url(http://images.complex.com/complex/image/upload/c_limit,w_680/fl_lossy,pg_1,q_auto/u6lyomnatqzjsxpehvzz.jpg);
   padding: 3px;
  }
  input[type="button"], input[type="submit"], input[type="reset"]{
border: none;
width: 100px;
background-image: url(https://s-media-cache-ak0.pinimg.com/736x/84/51/ff/8451ff54a41f0e07cf1b800b7873bc9f.jpg);
padding:10px;
margin: 8px 4px;
cursor: url('nicolas-cage-meme.png');	}




.text{
  text-align: center;
  border-radius: 3px;
}


.con{
  background:
  linear-gradient(
    limegreen,
    transparent
  ),
  linear-gradient(
    90deg,
    skyblue,
    transparent
  ),
  linear-gradient(
    -90deg,
    coral,
    transparent
  );

background-blend-mode: screen;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
	);
}




.q{  background:
	linear-gradient(
		limegreen,
		transparent
	),
	linear-gradient(
		90deg,
		skyblue,
		transparent
	),
	linear-gradient(
		-90deg,
		coral,
		transparent
	);

background-blend-mode: screen;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
}


.io{
  background:
  linear-gradient(
    limegreen,
    transparent
  ),
  linear-gradient(
    90deg,
    skyblue,
    transparent
  ),
  linear-gradient(
    -90deg,
    coral,
    transparent
  );

background-blend-mode: screen;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
}
