.sports_pics_list li {
  list-style-type: none;

}
@import url('https://fonts.googleapis.com/css?family=Roboto:700,900');
 .sports_words{
    display: block;
    margin: 30px 300px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 40px;
    padding: 20px 0 20px 0;
    border: 4px solid black;
    background-color: #00f21c;

    font-family: 'Roboto', sans-serif;
}
